body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Samuel {
  position:relative;
  margin-left: 80%;
}
.Anila {
  position: relative;
margin-right: 80%;
}
.Ben {
  position:relative;
margin-right: 80%;
}
.Dudley {
  position:relative;
  margin-left: 80%;
}